
@{
    ViewData["Title"] = "Send Email";
}
<div>
    <h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
    <form id="myForm" action="/Home/SendEmail" method="Post">

    <input type="text" name="EmailAdd" />
    <button type="submit">Submit</button>
<br/>
@ViewBag.Name
</form>

       
    </div>
</div>

</div>
